body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: black;
    padding: 30px;
}

.logo {
    display: block;
    float: left;
    width: 45px;
    height: 35px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: gray;
}


main {
    display: grid;
    padding: 300px;
    position: absolute;
    z-index: 1;
    grid-area: auto;
}

aside .tittle{
    display: grid;
    background-color: gray;
    color: white;
  
    z-index: 1;

    margin-top: calc(100vh - 50px);
    grid-row: 400vh;
}
section.background {
    position: absolute;
    width: max-content;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    z-index: -1;
}

footer {
    display: grid;
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    margin-top: calc(100vh - 50px);
    grid-row: 400vh;
}